.button {
    height: 45px;
    background-color: $main-color ;
    transition: 0.3s all;
    padding: 12px 25px;
    cursor: pointer;
    border: none;
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        text-decoration: none;
        color: $title-color;
    }
}