.portfolio {
    padding-bottom: 120px;
    &__item {
        display: block;
    }

    &__subtitle {
        text-align: center;
    }

    &__title {
        text-align: center;
    }

    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(2, 280px);
        gap: 5px;

        &.grid_plan {
            grid-row: 1 / 3;
        }

        &.grid_mac {
            grid-column: 2/4;
        }
    }

}