.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') center (center/cover) no-repeat;
    padding-top: 206px;

    &__subtitle {
        position: relative;
        font-size: 16px;
        @include before_circle;
        z-index: 2;
        padding-left: 12px;
    }

    &__title {
        font-size: 48px;
        line-height: 48px;
        margin-top: 14px;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        max-width: 250px;
    }

    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-decoration: none;
        color:#000;
        display: block;
        &:nth-child(2) {
            background: transparent;
        }
    }
}