.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: $subtitle-color;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: $title-color;
}